{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <h2>Sign In </h2>
     <!--Messages de notif-->
        <div class="messages">
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
        </div>
    <form action="" method="POST">
         {% csrf_token %}
        {{ form | crispy }}
        <br>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
{% endblock %}
