<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spaces</title>
</head>
<body>
<div class="container-chatting-page">
    <h1>Welcome to your spaces !</h1>
    <div class="spaces">
        <a href="{% url 'profile_page' %}">Back</a>
    </div>
    {% for space in spaces %}
     <div class="card border-dark mb-3" id="card" style="max-width: 12rem;">
        <div class="card-header">Spaces</div>
        <div class="card-body">
            <h5 class="card-title">{{space.name }}</h5>
        </div>
        <div class="card-footer bg-transparent border-dark">
            <a href="{% url 'space' space.slug %}">Join</a>
        </div>
    </div>
     {% endfor%}
</div>
</body>
</html>
{% endblock %}